In [1]:
%run create_tables.py

In [2]:
%run sql_queries.py

In [3]:
%run create_tables.py

In [4]:
%run etl.py

C:\Users\chimi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\chimi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\chimi\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

1 files found in C:\Users\chimi\Desktop\Data Engineering\olympics_dataset\data\athlete
1/1 files processed.
1 files found in C:\Users\chimi\Desktop\Data Engineering\olympics_dataset\data\noc_regions
1/1 files processed.

In [5]:
%load_ext sql

In [6]:
%sql postgresql://postgres:123456@localhost:5433/olympicsdb

In [7]:
%sql SELECT * FROM athlete LIMIT 5;

 * postgresql://postgres:***@localhost:5433/olympicsdb
5 rows affected.

[(1, 'A Dijiang', 'M', 24.0, 180.0, 80.0, 'China', 'CHN', '1992', 'Summer', 'Barcelona', 'Basketball', "Basketball Men's Basketball", 'NaN'),
 (2, 'A Lamusi', 'M', 23.0, 170.0, 60.0, 'China', 'CHN', '2012', 'Summer', 'London', 'Judo', "Judo Men's Extra-Lightweight", 'NaN'),
 (3, 'Gunnar Nielsen Aaby', 'M', 24.0, nan, nan, 'Denmark', 'DEN', '1920', 'Summer', 'Antwerpen', 'Football', "Football Men's Football", 'NaN'),
 (4, 'Edgar Lindenau Aabye', 'M', 34.0, nan, nan, 'Denmark/Sweden', 'DEN', '1900', 'Summer', 'Paris', 'Tug-Of-War', "Tug-Of-War Men's Tug-Of-War", 'Gold'),
 (5, 'Christine Jacoba Aaftink', 'F', 21.0, 185.0, 82.0, 'Netherlands', 'NED', '1988', 'Winter', 'Calgary', 'Speed Skating', "Speed Skating Women's 500 metres", 'NaN')]

In [8]:
%sql SELECT * FROM noc_regions LIMIT 5;

 * postgresql://postgres:***@localhost:5433/olympicsdb
5 rows affected.

[('AFG', 'Afghanistan', 'NaN'),
 ('AHO', 'Curacao', 'Netherlands Antilles'),
 ('ALB', 'Albania', 'NaN'),
 ('ALG', 'Algeria', 'NaN'),
 ('AND', 'Andorra', 'NaN')]

In [9]:
# Query 1- How many olympics games have been held?
%sql SELECT COUNT(DISTINCT event) AS number_of_games FROM athlete

 * postgresql://postgres:***@localhost:5433/olympicsdb
1 rows affected.

[(701,)]

In [10]:
# Query 2 -List down all Olympics games held so far. LIMITING To 5 Due to Computational Capability
%sql SELECT DISTINCT(event) AS olympics_game FROM athlete LIMIT 5;

 * postgresql://postgres:***@localhost:5433/olympicsdb
5 rows affected.

[("Taekwondo Men's Featherweight",),
 ('Art Competitions Mixed Architecture',),
 ("Cycling Men's Omnium",),
 ("Athletics Women's 5,000 metres",),
 ("Judo Men's Lightweight",)]

In [11]:
# Query 3- Identify the sport which was played in all summer olympics.

query = """
    SELECT
        sport AS sport_name
    FROM
        athlete
    WHERE
        season = 'Summer'
    GROUP BY
        sport
    HAVING
        COUNT(DISTINCT year) = (SELECT COUNT(DISTINCT year) FROM athlete WHERE season = 'Summer');
"""

%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
5 rows affected.

[('Athletics',), ('Cycling',), ('Fencing',), ('Gymnastics',), ('Swimming',)]

In [12]:
# Query 4- Identify the sport which was played only once in all summer olympics
query = """
SELECT
     sport As sport_name,
     COUNT(*)
FROM athlete 
WHERE season = 'Summer'
GROUP BY sport
HAVING count(year) = 1
"""

%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
1 rows affected.

[('Aeronautics', 1)]

In [13]:
# Query 5- Identify the sport which was played only once in all summer olympics
query = """
with cte_gold_age as (
select ID, Name, Sex, Age,
DENSE_RANK() over( order by Age desc) as rnk
from athlete
where Medal = 'Gold' )
select cte_gold_age.ID, cte_gold_age.Name, cte_gold_age.Sex, cte_gold_age.Age 
from cte_gold_age where rnk = 1
"""

%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
94 rows affected.

[(5806, 'Celal Atik (Doan-)', 'M', nan),
 (16457, 'Tejbir Bura', 'M', nan),
 (118471, 'Giovanni Battista Tanio', 'M', nan),
 (39538, 'Ioannis Georgas', 'M', nan),
 (80014, 'Argos Milonas', 'M', nan),
 (108350, 'Henry Seiling', 'M', nan),
 (103644, 'Giuseppe Russo', 'M', nan),
 (68966, 'Jean Lesieur', 'M', nan),
 (36291, 'Angelo Fornaciari', 'M', nan),
 (73178, 'William John Maddison', 'M', nan),
 (72132, 'Ernst Lhrsen', 'M', nan),
 (88513, 'Mehmet Oktav', 'M', nan),
 (114510, 'Paul Staub', 'M', nan),
 (79627, 'Isidoros Mikhas', 'M', nan),
 (30048, 'Andreas Drivas', 'M', nan),
 (45281, 'Graham Hamilton', 'M', nan),
 (103779, 'Joseph A. "Joe" Ryan', 'M', nan),
 (98487, 'Jaswant Singh Rajput', 'M', nan),
 (125805, 'Petros Velliotis', 'M', nan),
 (55677, 'James Henry Jones', 'M', nan),
 (134198, 'Walter John "Jack" Zealley', 'M', nan),
 (56780, 'Demetrios Kakousis', 'M', nan),
 (9730, 'E. Bellotti', 'M', nan),
 (110703, 'Esme Simiriotis', 'F', nan),
 (1208, 'Ioannis Agrimis', 'M', nan),
 (97858, 'Cecil Quentin', 'M', nan),
 (40664, 'Gerald Rudolph "Gerry" Glackan', 'M', nan),
 (109618, 'Temba Sherpa', 'M', nan),
 (109617, 'Sange Sherpa', 'M', nan),
 (109616, 'Pembra Sherpa', 'M', nan),
 (109615, 'Pasang Sherpa', 'M', nan),
 (47724, 'Constantin Henriquez', 'M', nan),
 (48273, 'David A. Hesser', 'M', nan),
 (65821, 'Ioannis Lafiotis', 'M', nan),
 (109614, 'Narbu Sherpa', 'M', nan),
 (109613, 'Lhakpa Sherpa', 'M', nan),
 (109611, 'Antarge Sherpa', 'M', nan),
 (97712, 'Leonidas "Leon" Pyrgos', 'M', nan),
 (49454, 'Frederick "Fred" Holman', 'M', nan),
 (19917, 'Charlot', 'M', nan),
 (118524, 'R. Taormina', 'M', nan),
 (88943, 'Oscar G. Olson', 'M', nan),
 (56704, 'Ioannis Kaisarefs', 'M', nan),
 (113625, 'Frederick George "Fred" Spackman', 'M', nan),
 (94539, 'Demetrios Piaditis', 'M', nan),
 (101165, 'Frances Clytie Rivett-Carnac (Greenstock-)', 'F', nan),
 (122322, 'Khristos Tsirigotakis', 'M', nan),
 (133554, 'Sayed Muhammad Yusuf', 'M', nan),
 (62552, 'Aristidis Konstantinidis', 'M', nan),
 (94894, 'Ioannis Pilouris', 'M', nan),
 (111057, 'Gurmit Singh Kullar', 'M', nan),
 (58638, 'Peter Kemp', 'M', nan),
 (53290, 'Sayed Muhammad Jaffar', 'M', nan),
 (18614, 'David Krynauw Enslin "Dave" Carstens', 'M', nan),
 (29098, 'Yaar Dou', 'M', nan),
 (118579, 'G. Tarantino', 'M', nan),
 (124789, 'Edmond Van Moer', 'M', nan),
 (101590, 'Michael E. Rocque', 'M', nan),
 (22208, 'Thomas Coe', 'M', nan),
 (111168, 'Amit Singh Bakshi', 'M', nan),
 (77460, 'Gordon McDonald', 'M', nan),
 (76972, 'Charles Mayer', 'M', nan),
 (82614, 'Mikhail Mouratis', 'M', nan),
 (46449, 'Henry North Haslam', 'M', nan),
 (9009, 'Charles Beachey Beachcroft (Kay-)', 'M', nan),
 (22882, 'Harold Douglas R Cooke', 'M', nan),
 (111433, 'Bayram it', 'M', nan),
 (75511, 'Albert Martin', 'M', nan),
 (125560, 'Max "Maxie" Vaz', 'M', nan),
 (82259, 'Charles John Morris', 'M', nan),
 (35435, 'George V. Finnegan', 'M', nan),
 (120734, 'P. Toio', 'M', nan),
 (58401, 'Konstantinos Kefalas', 'M', nan),
 (35719, 'Patrick "Pat" Flanagan', 'M', nan),
 (71285, 'Walter Loosli', 'M', nan),
 (55459, 'Sidney B. "Sid" Johnson', 'M', nan),
 (41687, 'Frederick William Goodfellow', 'M', nan),
 (48220, 'Jean Herv', 'M', nan),
 (2316, 'A. Albert', 'M', nan),
 (74168, 'Ioannis Malokinis', 'M', nan),
 (28545, 'Angus F. "Gus" Dillon', 'M', nan),
 (23774, 'Frederick "Fred" Cresser', 'M', nan),
 (80987, 'Cyril Mohr', 'M', nan),
 (71683, 'Ioannis Loukas', 'M', nan),
 (8272, 'Richard Barthlemy', 'M', nan),
 (118894, 'J. Howard Taylor', 'M', nan),
 (34759, 'Lawrence "Lawrie" Fernandes', 'M', nan),
 (4189, 'Nikolaos Andriakopoulos', 'M', nan),
 (5618, 'Sardar Mohammad Aslam', 'M', nan),
 (57468, 'Pavlos Karangonidis', 'M', nan),
 (11489, 'Ahmet Bilek', 'M', nan),
 (14738, 'David Hey Bratton', 'M', nan),
 (112827, 'Mikhail Sokos', 'M', nan),
 (80166, 'Masude Ali Khan Minhas', 'M', nan)]

In [50]:
# Query 6 Find the Ratio of male and female athletes participated in all olympic games
query = """
SELECT
    SUM(CASE WHEN sex = 'M' THEN 1 ELSE 0 END) AS male_count,
    SUM(CASE WHEN sex = 'F' THEN 1 ELSE 0 END) AS female_count,
    (SUM(CASE WHEN sex = 'M' THEN 1 ELSE 0 END)::float / SUM(CASE WHEN sex = 'F' THEN 1 ELSE 0 END)) AS male_to_female_ratio
FROM
    athlete;
"""

%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
1 rows affected.

[(101590, 33981, 2.98961184191166)]

In [15]:
# Query 7 Fetch the top 5 athletes who have won the most models
query = """
select Name, count( Medal) as medal_cnt
from athlete
where Medal != 'NA'
group by Name
order by 2 desc
LIMIT 5;
"""

%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
5 rows affected.

[('Ivan Ivanov', 5),
 ('Li Jie', 5),
 ('Lszl Szab', 5),
 ('Zhang Li', 5),
 ('Wolfgang Mller', 5)]

In [16]:
# Query 8 Number of gold, silver, and bronze medal
query = """
with cte_gold as (
                  select  Team,  count(Medal) as gold_medal_cnt
                  from athlete where Medal = 'Gold'
                  group by Team   ),

cte_silver as (
               select  Team,  count(Medal) as silver_medal_cnt from athlete
               where Medal = 'Silver'
               group by Team  ),

cte_bronze as (
              select  Team,  count(Medal) as bronze_medal_cnt from athlete
              where Medal = 'Bronze'
              group by Team   )
SELECT 
      a.team,
      a.gold_medal_cnt as gold_count,
      b.silver_medal_cnt as silver_medal_count,
      c.bronze_medal_cnt as bronze_count
FROM cte_gold as a 
INNER JOIN cte_silver as b 
ON a.team = b.team
INNER JOIN cte_bronze c
ON a.team = c.team
ORDER BY 2 DESC
"""
%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
95 rows affected.

[('United States', 1204, 793, 669),
 ('Soviet Union', 524, 370, 386),
 ('Germany', 283, 248, 311),
 ('Italy', 246, 206, 206),
 ('Great Britain', 240, 253, 275),
 ('Canada', 237, 220, 200),
 ('Sweden', 206, 171, 218),
 ('East Germany', 198, 145, 125),
 ('France', 161, 235, 239),
 ('Hungary', 158, 139, 166),
 ('Russia', 141, 130, 164),
 ('China', 138, 149, 131),
 ('Australia', 137, 172, 233),
 ('Netherlands', 120, 128, 194),
 ('Japan', 113, 146, 168),
 ('Denmark', 106, 162, 92),
 ('Norway', 106, 113, 130),
 ('India', 103, 11, 24),
 ('Cuba', 102, 59, 68),
 ('South Korea', 95, 137, 95),
 ('Yugoslavia', 84, 112, 55),
 ('Argentina', 67, 66, 40),
 ('Spain', 63, 121, 66),
 ('Unified Team', 62, 26, 38),
 ('Brazil', 61, 88, 91),
 ('West Germany', 61, 90, 96),
 ('Switzerland', 53, 81, 118),
 ('Czechoslovakia', 52, 139, 91),
 ('Finland', 48, 103, 178),
 ('Poland', 45, 73, 112),
 ('Romania', 35, 70, 129),
 ('New Zealand', 34, 29, 36),
 ('Croatia', 31, 27, 18),
 ('Belgium', 31, 77, 88),
 ('Austria', 29, 76, 49),
 ('Bulgaria', 28, 88, 84),
 ('Pakistan', 26, 30, 19),
 ('Mexico', 23, 11, 28),
 ('Uruguay', 23, 1, 18),
 ('Turkey', 20, 19, 20),
 ('South Africa', 20, 17, 26),
 ('Czech Republic', 18, 6, 23),
 ('Kenya', 18, 16, 23),
 ('Cameroon', 18, 1, 1),
 ('Nigeria', 18, 23, 30),
 ('Australasia', 16, 1, 2),
 ('Ukraine', 16, 17, 47),
 ('Greece', 15, 37, 35),
 ('United States-1', 13, 15, 13),
 ('Kazakhstan', 12, 11, 20),
 ('Switzerland-1', 11, 9, 15),
 ('Germany-1', 11, 12, 5),
 ('United States-2', 11, 8, 13),
 ('North Korea', 9, 9, 25),
 ('Ethiopia', 8, 5, 9),
 ('China-1', 8, 4, 2),
 ('Iran', 7, 12, 21),
 ('Belarus', 7, 19, 29),
 ('Jamaica', 7, 21, 11),
 ('China-2', 6, 4, 10),
 ('Thailand', 6, 6, 12),
 ('Azerbaijan', 6, 3, 15),
 ('Great Britain-1', 6, 8, 1),
 ('Italy-1', 6, 3, 3),
 ('Germany-2', 6, 4, 7),
 ('Serbia', 5, 18, 25),
 ('Egypt', 5, 6, 9),
 ('East Germany-1', 5, 2, 7),
 ('East Germany-2', 4, 5, 4),
 ('Uzbekistan', 4, 6, 9),
 ('Ireland', 4, 6, 10),
 ('Serbia and Montenegro', 4, 15, 17),
 ('Morocco', 4, 1, 6),
 ('Indonesia', 4, 5, 7),
 ('Canada-1', 4, 2, 3),
 ('Switzerland-2', 4, 8, 4),
 ('Georgia', 4, 4, 11),
 ('Minerva Amsterdam', 3, 4, 6),
 ('Trinidad and Tobago', 3, 3, 5),
 ('Brazil-1', 2, 7, 1),
 ('Chinese Taipei', 2, 22, 7),
 ('Uganda', 2, 2, 2),
 ('South Korea-2', 2, 1, 1),
 ('Mongolia', 2, 3, 10),
 ('Austria-1', 2, 7, 2),
 ('Estonia', 2, 4, 4),
 ('Indonesia-1', 2, 3, 2),
 ('West Germany-1', 2, 4, 4),
 ('Colombia', 1, 2, 10),
 ('Latvia', 1, 4, 2),
 ('Puerto Rico', 1, 2, 5),
 ('Slovenia', 1, 1, 4),
 ('Great Britain-2', 1, 2, 2),
 ('Armenia', 1, 4, 7),
 ('Venezuela', 1, 3, 6)]

In [17]:
# Query 9 - List down total gold, silver and bronze medals won by each country corresponding to each olympics season

query = """
with cte_gold as (
                  select  team, season, count(medal) as gold_medal_cnt
                  from athlete where Medal = 'Gold'
                  group by team, season ),

cte_silver as (
               select  team,  count(medal) as silver_medal_cnt from athlete
               where Medal = 'Silver'
               group by team , season ),

cte_bronze as (
              select  team,  count(medal) as bronze_medal_cnt from athlete
              where Medal = 'Bronze'
              group by team, season  )
SELECT 
      a.team as country,
      a.season as season,
      a.gold_medal_cnt as gold_count,
      b.silver_medal_cnt as silver_medal_count,
      c.bronze_medal_cnt as bronze_count
FROM cte_gold as a 
INNER JOIN cte_silver as b 
ON a.team = b.team
INNER JOIN cte_bronze c
ON a.team = c.team
ORDER BY 2 DESC
"""
%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
285 rows affected.

[('Netherlands', 'Winter', 3, 124, 4),
 ('Netherlands', 'Winter', 3, 124, 190),
 ('Belgium', 'Winter', 2, 76, 1),
 ('Czechoslovakia', 'Winter', 1, 54, 43),
 ('Germany', 'Winter', 15, 17, 16),
 ('Germany', 'Winter', 15, 17, 295),
 ('Germany', 'Winter', 15, 231, 16),
 ('Germany', 'Winter', 15, 231, 295),
 ('Czechoslovakia', 'Winter', 1, 54, 48),
 ('Czechoslovakia', 'Winter', 1, 85, 43),
 ('Czechoslovakia', 'Winter', 1, 85, 48),
 ('Norway', 'Winter', 22, 29, 34),
 ('Norway', 'Winter', 22, 29, 96),
 ('Norway', 'Winter', 22, 84, 34),
 ('Norway', 'Winter', 22, 84, 96),
 ('Belgium', 'Winter', 2, 76, 87),
 ('Germany-1', 'Winter', 10, 10, 3),
 ('Germany-1', 'Winter', 10, 10, 2),
 ('Germany-1', 'Winter', 10, 2, 3),
 ('Germany-1', 'Winter', 10, 2, 2),
 ('Germany-2', 'Winter', 6, 4, 7),
 ('Austria', 'Winter', 12, 21, 24),
 ('Austria', 'Winter', 12, 21, 25),
 ('China', 'Winter', 3, 6, 7),
 ('Russia', 'Winter', 5, 17, 15),
 ('Russia', 'Winter', 5, 17, 149),
 ('Russia', 'Winter', 5, 113, 15),
 ('Russia', 'Winter', 5, 113, 149),
 ('China', 'Winter', 3, 6, 124),
 ('Great Britain', 'Winter', 35, 4, 22),
 ('Great Britain', 'Winter', 35, 4, 253),
 ('Great Britain', 'Winter', 35, 249, 22),
 ('Great Britain', 'Winter', 35, 249, 253),
 ('China', 'Winter', 3, 143, 7),
 ('East Germany', 'Winter', 8, 6, 15),
 ('Great Britain-1', 'Winter', 2, 4, 1),
 ('South Korea', 'Winter', 12, 5, 2),
 ('South Korea', 'Winter', 12, 5, 93),
 ('South Korea', 'Winter', 12, 132, 2),
 ('South Korea', 'Winter', 12, 132, 93),
 ('Great Britain-1', 'Winter', 2, 4, 1),
 ('East Germany', 'Winter', 8, 6, 110),
 ('East Germany', 'Winter', 8, 139, 15),
 ('East Germany', 'Winter', 8, 139, 110),
 ('China', 'Winter', 3, 143, 124),
 ('Soviet Union', 'Winter', 93, 30, 34),
 ('Soviet Union', 'Winter', 93, 30, 352),
 ('Soviet Union', 'Winter', 93, 340, 34),
 ('Soviet Union', 'Winter', 93, 340, 352),
 ('India', 'Winter', 7, 11, 24),
 ('East Germany-1', 'Winter', 3, 2, 7),
 ('East Germany-2', 'Winter', 4, 5, 4),
 ('Austria', 'Winter', 12, 55, 24),
 ('Austria', 'Winter', 12, 55, 25),
 ('Sweden', 'Winter', 41, 57, 86),
 ('Sweden', 'Winter', 41, 57, 132),
 ('Sweden', 'Winter', 41, 114, 86),
 ('Sweden', 'Winter', 41, 114, 132),
 ('Austria-1', 'Winter', 2, 7, 2),
 ('Australia', 'Winter', 3, 172, 233),
 ('Belgium', 'Winter', 2, 1, 1),
 ('Belgium', 'Winter', 2, 1, 87),
 ('Switzerland', 'Winter', 24, 18, 50),
 ('Switzerland', 'Winter', 24, 18, 68),
 ('Switzerland', 'Winter', 24, 63, 50),
 ('Switzerland', 'Winter', 24, 63, 68),
 ('Switzerland-1', 'Winter', 11, 9, 15),
 ('Switzerland-2', 'Winter', 4, 8, 2),
 ('Switzerland-2', 'Winter', 4, 8, 2),
 ('Italy', 'Winter', 5, 1, 5),
 ('Italy', 'Winter', 5, 1, 201),
 ('Italy', 'Winter', 5, 205, 5),
 ('Italy', 'Winter', 5, 205, 201),
 ('Italy-1', 'Winter', 6, 3, 3),
 ('Canada', 'Winter', 164, 112, 55),
 ('Ukraine', 'Winter', 1, 17, 2),
 ('Ukraine', 'Winter', 1, 17, 45),
 ('Finland', 'Winter', 6, 49, 90),
 ('Finland', 'Winter', 6, 49, 88),
 ('Finland', 'Winter', 6, 54, 90),
 ('Finland', 'Winter', 6, 54, 88),
 ('Unified Team', 'Winter', 20, 2, 5),
 ('Unified Team', 'Winter', 20, 2, 33),
 ('Unified Team', 'Winter', 20, 24, 5),
 ('Unified Team', 'Winter', 20, 24, 33),
 ('Japan', 'Winter', 5, 6, 6),
 ('Japan', 'Winter', 5, 6, 162),
 ('Japan', 'Winter', 5, 140, 6),
 ('Japan', 'Winter', 5, 140, 162),
 ('United States', 'Winter', 76, 155, 52),
 ('United States', 'Winter', 76, 155, 617),
 ('United States', 'Winter', 76, 638, 52),
 ('United States', 'Winter', 76, 638, 617),
 ('Canada', 'Winter', 164, 112, 145),
 ('Canada', 'Winter', 164, 108, 55),
 ('United States-1', 'Winter', 5, 14, 13),
 ('United States-1', 'Winter', 5, 1, 13),
 ('Czech Republic', 'Winter', 17, 6, 13),
 ('Czech Republic', 'Winter', 17, 6, 10),
 ('United States-2', 'Winter', 10, 4, 13),
 ('United States-2', 'Winter', 10, 4, 13),
 ('France', 'Winter', 7, 8, 25),
 ('France', 'Winter', 7, 8, 214),
 ('Uzbekistan', 'Winter', 1, 6, 9),
 ('France', 'Winter', 7, 227, 25),
 ('France', 'Winter', 7, 227, 214),
 ('Canada', 'Winter', 164, 108, 145),
 ('Canada-1', 'Winter', 4, 2, 1),
 ('Canada-1', 'Winter', 4, 2, 2),
 ('West Germany', 'Winter', 2, 2, 13),
 ('West Germany', 'Winter', 2, 2, 83),
 ('West Germany', 'Winter', 2, 88, 13),
 ('West Germany', 'Winter', 2, 88, 83),
 ('West Germany-1', 'Winter', 2, 2, 4),
 ('West Germany-1', 'Winter', 2, 2, 4),
 ('Netherlands', 'Winter', 3, 4, 4),
 ('Netherlands', 'Winter', 3, 4, 190),
 ('Russia', 'Summer', 136, 113, 15),
 ('Russia', 'Summer', 136, 113, 149),
 ('Serbia', 'Summer', 5, 18, 25),
 ('Serbia and Montenegro', 'Summer', 4, 15, 17),
 ('Slovenia', 'Summer', 1, 1, 4),
 ('South Africa', 'Summer', 20, 17, 26),
 ('South Korea', 'Summer', 83, 5, 2),
 ('South Korea', 'Summer', 83, 5, 93),
 ('South Korea', 'Summer', 83, 132, 2),
 ('South Korea', 'Summer', 83, 132, 93),
 ('South Korea-2', 'Summer', 2, 1, 1),
 ('Soviet Union', 'Summer', 431, 30, 34),
 ('Soviet Union', 'Summer', 431, 30, 352),
 ('Soviet Union', 'Summer', 431, 340, 34),
 ('Soviet Union', 'Summer', 431, 340, 352),
 ('Spain', 'Summer', 63, 121, 66),
 ('Sweden', 'Summer', 165, 57, 86),
 ('Sweden', 'Summer', 165, 57, 132),
 ('Sweden', 'Summer', 165, 114, 86),
 ('Sweden', 'Summer', 165, 114, 132),
 ('Switzerland', 'Summer', 29, 18, 50),
 ('Switzerland', 'Summer', 29, 18, 68),
 ('Switzerland', 'Summer', 29, 63, 50),
 ('Switzerland', 'Summer', 29, 63, 68),
 ('Thailand', 'Summer', 6, 6, 12),
 ('Trinidad and Tobago', 'Summer', 3, 3, 5),
 ('Turkey', 'Summer', 20, 19, 20),
 ('Uganda', 'Summer', 2, 2, 2),
 ('Ukraine', 'Summer', 15, 17, 2),
 ('Ukraine', 'Summer', 15, 17, 45),
 ('Unified Team', 'Summer', 42, 2, 5),
 ('Unified Team', 'Summer', 42, 2, 33),
 ('Unified Team', 'Summer', 42, 24, 5),
 ('Unified Team', 'Summer', 42, 24, 33),
 ('United States', 'Summer', 1128, 155, 52),
 ('United States', 'Summer', 1128, 155, 617),
 ('United States', 'Summer', 1128, 638, 52),
 ('United States', 'Summer', 1128, 638, 617),
 ('United States-1', 'Summer', 8, 14, 13),
 ('United States-1', 'Summer', 8, 1, 13),
 ('United States-2', 'Summer', 1, 4, 13),
 ('United States-2', 'Summer', 1, 4, 13),
 ('Uruguay', 'Summer', 23, 1, 18),
 ('Uzbekistan', 'Summer', 3, 6, 9),
 ('Venezuela', 'Summer', 1, 3, 6),
 ('West Germany', 'Summer', 59, 2, 13),
 ('West Germany', 'Summer', 59, 2, 83),
 ('West Germany', 'Summer', 59, 88, 13),
 ('West Germany', 'Summer', 59, 88, 83),
 ('Yugoslavia', 'Summer', 84, 112, 1),
 ('Yugoslavia', 'Summer', 84, 112, 54),
 ('Norway', 'Summer', 84, 84, 34),
 ('Armenia', 'Summer', 1, 4, 7),
 ('Australasia', 'Summer', 16, 1, 2),
 ('Australia', 'Summer', 134, 172, 233),
 ('Austria', 'Summer', 17, 21, 24),
 ('Austria', 'Summer', 17, 21, 25),
 ('Austria', 'Summer', 17, 55, 24),
 ('Austria', 'Summer', 17, 55, 25),
 ('Azerbaijan', 'Summer', 6, 3, 15),
 ('Belarus', 'Summer', 7, 19, 1),
 ('Belarus', 'Summer', 7, 19, 28),
 ('Belgium', 'Summer', 29, 1, 1),
 ('Belgium', 'Summer', 29, 1, 87),
 ('Belgium', 'Summer', 29, 76, 1),
 ('Belgium', 'Summer', 29, 76, 87),
 ('Brazil', 'Summer', 61, 88, 91),
 ('Brazil-1', 'Summer', 2, 7, 1),
 ('Bulgaria', 'Summer', 28, 88, 84),
 ('Cameroon', 'Summer', 18, 1, 1),
 ('Canada', 'Summer', 73, 112, 55),
 ('Canada', 'Summer', 73, 112, 145),
 ('Canada', 'Summer', 73, 108, 55),
 ('Canada', 'Summer', 73, 108, 145),
 ('China', 'Summer', 135, 6, 7),
 ('China', 'Summer', 135, 6, 124),
 ('China', 'Summer', 135, 143, 7),
 ('China', 'Summer', 135, 143, 124),
 ('China-1', 'Summer', 8, 4, 2),
 ('China-2', 'Summer', 6, 4, 10),
 ('Chinese Taipei', 'Summer', 2, 22, 7),
 ('Colombia', 'Summer', 1, 2, 10),
 ('Croatia', 'Summer', 31, 27, 1),
 ('Croatia', 'Summer', 31, 27, 17),
 ('Cuba', 'Summer', 102, 59, 68),
 ('Czech Republic', 'Summer', 1, 6, 13),
 ('Czech Republic', 'Summer', 1, 6, 10),
 ('Czechoslovakia', 'Summer', 51, 54, 43),
 ('Czechoslovakia', 'Summer', 51, 54, 48),
 ('Czechoslovakia', 'Summer', 51, 85, 43),
 ('Czechoslovakia', 'Summer', 51, 85, 48),
 ('Denmark', 'Summer', 106, 5, 92),
 ('Denmark', 'Summer', 106, 157, 92),
 ('East Germany', 'Summer', 190, 6, 15),
 ('East Germany', 'Summer', 190, 6, 110),
 ('East Germany', 'Summer', 190, 139, 15),
 ('East Germany', 'Summer', 190, 139, 110),
 ('East Germany-1', 'Summer', 2, 2, 7),
 ('Egypt', 'Summer', 5, 6, 9),
 ('Estonia', 'Summer', 2, 4, 4),
 ('Ethiopia', 'Summer', 8, 5, 9),
 ('Finland', 'Summer', 42, 49, 90),
 ('Finland', 'Summer', 42, 49, 88),
 ('Finland', 'Summer', 42, 54, 90),
 ('Finland', 'Summer', 42, 54, 88),
 ('France', 'Summer', 154, 8, 25),
 ('France', 'Summer', 154, 8, 214),
 ('France', 'Summer', 154, 227, 25),
 ('France', 'Summer', 154, 227, 214),
 ('Georgia', 'Summer', 4, 4, 11),
 ('Germany', 'Summer', 268, 17, 16),
 ('Germany', 'Summer', 268, 17, 295),
 ('Germany', 'Summer', 268, 231, 16),
 ('Germany', 'Summer', 268, 231, 295),
 ('Germany-1', 'Summer', 1, 10, 3),
 ('Germany-1', 'Summer', 1, 10, 2),
 ('Germany-1', 'Summer', 1, 2, 3),
 ('Germany-1', 'Summer', 1, 2, 2),
 ('Great Britain', 'Summer', 205, 4, 22),
 ('Great Britain', 'Summer', 205, 4, 253),
 ('Great Britain', 'Summer', 205, 249, 22),
 ('Great Britain', 'Summer', 205, 249, 253),
 ('Great Britain-1', 'Summer', 4, 4, 1),
 ('Great Britain-1', 'Summer', 4, 4, 1),
 ('Great Britain-2', 'Summer', 1, 2, 2),
 ('Greece', 'Summer', 15, 37, 35),
 ('Hungary', 'Summer', 158, 139, 166),
 ('India', 'Summer', 96, 11, 24),
 ('Indonesia', 'Summer', 4, 5, 7),
 ('Indonesia-1', 'Summer', 2, 3, 2),
 ('Iran', 'Summer', 7, 12, 21),
 ('Ireland', 'Summer', 4, 6, 10),
 ('Italy', 'Summer', 241, 1, 5),
 ('Italy', 'Summer', 241, 1, 201),
 ('Italy', 'Summer', 241, 205, 5),
 ('Italy', 'Summer', 241, 205, 201),
 ('Jamaica', 'Summer', 7, 21, 11),
 ('Japan', 'Summer', 108, 6, 6),
 ('Japan', 'Summer', 108, 6, 162),
 ('Japan', 'Summer', 108, 140, 6),
 ('Japan', 'Summer', 108, 140, 162),
 ('Kazakhstan', 'Summer', 12, 11, 20),
 ('Kenya', 'Summer', 18, 16, 23),
 ('Latvia', 'Summer', 1, 4, 2),
 ('Mexico', 'Summer', 23, 11, 28),
 ('Minerva Amsterdam', 'Summer', 3, 4, 6),
 ('Mongolia', 'Summer', 2, 3, 10),
 ('Morocco', 'Summer', 4, 1, 6),
 ('Netherlands', 'Summer', 117, 4, 4),
 ('Netherlands', 'Summer', 117, 4, 190),
 ('Netherlands', 'Summer', 117, 124, 4),
 ('Netherlands', 'Summer', 117, 124, 190),
 ('New Zealand', 'Summer', 34, 1, 36),
 ('New Zealand', 'Summer', 34, 28, 36),
 ('Nigeria', 'Summer', 18, 23, 30),
 ('North Korea', 'Summer', 9, 9, 1),
 ('North Korea', 'Summer', 9, 9, 24),
 ('Norway', 'Summer', 84, 29, 34),
 ('Norway', 'Summer', 84, 29, 96),
 ('Argentina', 'Summer', 67, 66, 40),
 ('Norway', 'Summer', 84, 84, 96),
 ('Pakistan', 'Summer', 26, 30, 19),
 ('Poland', 'Summer', 45, 73, 1),
 ('Poland', 'Summer', 45, 73, 111),
 ('Puerto Rico', 'Summer', 1, 2, 5),
 ('Romania', 'Summer', 35, 70, 129),
 ('Russia', 'Summer', 136, 17, 15),
 ('Russia', 'Summer', 136, 17, 149)]

In [19]:
# Query 10 Identify the country that most gold, most silver, and most bronze medals during each olympic season

query = """

WITH cte_gold AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY Season ORDER BY gold_medal_cnt DESC) AS r_n_gold
    FROM (
        SELECT Season, Team, COUNT(Medal) AS gold_medal_cnt      
        FROM athlete WHERE Medal = 'Gold'
        GROUP BY Season, Team
    ) AS a
), cte_silver AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY Season ORDER BY silver_medal_cnt DESC) AS r_n_silver
    FROM (
        SELECT Season, Team, COUNT(Medal) AS silver_medal_cnt      
        FROM athlete WHERE Medal = 'Silver'
        GROUP BY Season, Team
    ) AS b
), cte_bronze AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY Season ORDER BY bronze_medal_cnt DESC) AS r_n_bronze
    FROM (
        SELECT Season, Team, COUNT(Medal) AS bronze_medal_cnt      
        FROM athlete WHERE Medal = 'Bronze'
        GROUP BY Season, Team
    ) AS c
)
SELECT p.Season,
       CONCAT(p.Team, ' - ', p.gold_medal_cnt) AS max_gold,
       CONCAT(q.Team, ' - ', q.silver_medal_cnt) AS max_silver,
       CONCAT(r.Team, ' - ', r.bronze_medal_cnt) AS max_bronze
FROM cte_gold AS p
JOIN cte_silver AS q ON p.Season = q.Season AND p.r_n_gold = q.r_n_silver
JOIN cte_bronze AS r ON p.Season = r.Season AND p.r_n_gold = r.r_n_bronze
WHERE p.r_n_gold = 1;

"""

%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
2 rows affected.

[('Summer', 'United States - 1128', 'United States - 638', 'United States - 617'),
 ('Winter', 'Canada - 164', 'United States - 155', 'Finland - 90')]

In [26]:
# Query 11 Which countries have never won gold medal but have won silver or bronze medals?

query = """
SELECT DISTINCT n.region
FROM noc_regions n
WHERE n.noc NOT IN (
    SELECT DISTINCT a.noc
    FROM athlete a
    WHERE a.medal = 'Gold'
)
AND n.noc IN (
    SELECT DISTINCT a.noc
    FROM athlete a
    WHERE a.medal IN ('Silver', 'Bronze')
);

"""
%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
38 rows affected.

[('Afghanistan',),
 ('Algeria',),
 ('Bermuda',),
 ('Botswana',),
 ('Chile',),
 ('Curacao',),
 ('Czech Republic',),
 ('Dominican Republic',),
 ('Gabon',),
 ('Ghana',),
 ('Guatemala',),
 ('Guyana',),
 ('Iceland',),
 ('Individual Olympic Athletes',),
 ('Iraq',),
 ('Israel',),
 ('Kyrgyzstan',),
 ('Lebanon',),
 ('Lithuania',),
 ('Malaysia',),
 ('Mauritius',),
 ('Moldova',),
 ('Monaco',),
 ('Montenegro',),
 ('Namibia',),
 ('Niger',),
 ('Panama',),
 ('Paraguay',),
 ('Philippines',),
 ('Portugal',),
 ('Qatar',),
 ('Syria',),
 ('Tajikistan',),
 ('Tanzania',),
 ('Tonga',),
 ('Tunisia',),
 ('Vietnam',),
 ('Zambia',)]

In [48]:
# Query 12 - In which sport/event U.S. has won the highest medals?
query = """
SELECT a.sport, a.event, COUNT(a.medal) AS total_medals
FROM athlete a 
INNER JOIN noc_regions nr ON a.noc = nr.noc
WHERE nr.region = 'USA'
GROUP BY a.sport, a.event
ORDER BY total_medals DESC
LIMIT 1;
"""
%sql $query

 * postgresql://postgres:***@localhost:5433/olympicsdb
1 rows affected.

[('Ice Hockey', "Ice Hockey Men's Ice Hockey", 322)]

In [ ]:
# Query 13 -Breaking down the ice hockey
query = """
SELECT a.event, a.sport, COUNT(a.medal) AS medal_cnt 
FROM athlete a 
INNER JOIN noc_regions nr ON a.noc = nr.noc
WHERE nr.region = 'USA' and a.medal != 'NA' AND a.sport = 'Ice Hockey'
GROUP BY a.event, a.sport 
"""
%sql $query